html {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
nav {
	text-align: left;
	padding-top: 15px;
	padding-left:3%;
	font-size:14pt;
	font-family: 'ZincoBlackCondensed';
	word-spacing:20px;
}

a {
	text-align: ;
	color: white;
	padding-top: 15px;
}

@font-face {
    font-family: 'ZincoBlackCondensed';
    src: url('18009.otf');
     }

.logo{
	width: 130px;
	height: 130px;
	padding-left: 47%;
}